.main {
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;

  h1 {
    font-size: 54px;
    font-weight: 700;
  }

  .btn {
    background: var(--col_primary);
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: 700;
    height: 100px;
    margin-top: 20px;
    width: 280px;
  }
}
